.GaleriaInstagram {
    background-color: red;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
    margin: 5%;

    .GaleriaInstagram__foto {
        display: inline-flex;
        justify-content: center;
        position: relative;
        
        img{
        width: 100%;
        height: 100%;
        }
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0.9;

        }
    }
    .GaleriaInstagram__modal__cerrar {
        background-color: greenyellow;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left:0;

        .GaleriaInstagram__modal__cerrar__tache{
            color: blue;
            font-size: 5em;
            float: right;
            cursor: pointer;

            &:hover{
                color: white;
            }
        }
    }
    .GaleriaInstagram__modal__foto{
        
        img{
        width: 100vw;
        height: 75vh;
        position: absolute;
        top: 13%;
        left:0%;
        z-index: 2;
        }
    }
    .GaleriaInstagram__modal__foto__derecha{
        background-color: none;
        width: 15vw;
        height: 75vh;
        position: absolute;
        top: 13%;
        right: 0;
        z-index: 2;

        p{
            font-size: 5em;
            text-align: center;
            color: white;
            position: relative;
            top: 15%;
        }
        
        &:hover{
            background-color: red;
        }
    }

    .GaleriaInstagram__modal__foto__izquierda{
        background-color: none;
        width: 15vw;
        height: 75vh;
        position: absolute;
        top: 13%;
        left: 0;
        z-index: 2;

        p{
            font-size: 5em;
            text-align: center;
            color: white;
            position: relative;
            top: 15%;
        }
        
        &:hover{
            background-color: red;
        }
    }
}
